@model PairingTest.Web.Models.QuestionnaireViewModel

<html>
    <head>
        <title>@Model.QuestionnaireTitle</title>
    </head>
<body>
   @using (Html.BeginForm("Add", "Questionnaire", FormMethod.Post))
    {
        <h2>Index</h2>

        int i = 0;
        foreach (var question in Model.QuestionsText)
        {
            <div>
               @Html.Label(question)
                @Html.TextBox("question-answer" + i)
            </div>
            i++;
        }
        <br/>
        <input type="submit" value="submit"/>
    }
</body>
</html>
