@model PairingTest.Web.Models.QuestionnaireViewModel

<html>
<head>
    <title>@Model.QuestionnaireTitle</title>
</head>
<body>
    <h2>Index page</h2>
    @foreach (var question in Model.QuestionsText)
    {
        <div>@Html.Label(question)</div>
        <br/>
    }
</body>
</html>
